firebase-admin
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
python-dotenv
beautifulsoup4
pypdf
reportlab
streamlit[auth]
pandas
plotly
firebase-admin
google-cloud-firestore
python-dotenv
streamlit-aggrid==1.0.5
psycopg[binary]